header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(-180deg, rgb(245, 61, 45), rgb(255, 102, 51));
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.header_top {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top_list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.header_top_list_item_link {
    color: #fff;
    font-size: 13px;
    padding: 0px 7px;
    text-decoration: none;
    border-right: 2px solid #F86B5B;
}

.header_top_list_item_icon {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.header_top_list_item_icon_facebook,
.header_top_list_item_icon_facebook {
    margin-right: 7px;
}

a.header_top_list_item_link:hover {
    color: hsla(0,0%,100%,.7);
}

.header_top_list_item_link:hover .header_top_list_item_icon {
    color: hsla(0,0%,100%,.7);
}

/* drop active download app */

.header_top_list_item_active {
    width: 184px;
    height: 239px;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 10px);
    left: 8px;
    border-radius: 3px;
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header_top_list_item_active_img {
    width: 100%;
    height: 75%;
}

.header_top_list_item_active_img img{
    width: 100%;
    height: 100%;
}

.header_top_list_item_active_app {
    width: 100%;
    height: 25%;
}

.header_top_list_item_active_app img {
    width: 70px;
    height: 16px;
    margin-top: 10px;
    margin-left: 12px;
}

.header_top_list_item_active_app_item_app_app-gallery {
    margin-top: 0px !important;
}

.app-drop-active {
    position: relative;
}

.app-drop-active::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 9px;
    top: calc(100%);
    left: 5px;
}

.app-drop-active:hover .header_top_list_item_active {
    display: block;
}

/* noti */

.header_top_list_item_link_noti:hover {
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
    position: relative;
}

.header_noti_active_drop_no_login {
    position: absolute;
    width: 400px;
    height: 350px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 1px;
    right: 9px;
    top: calc(100% + 12px);
    display: none;
    animation: growUp linear 0.2s;
    transform-origin: 88% 0%;
    z-index: 1;
}

.header_noti_active_drop_no_login::after {
    content: "";
    position: absolute;
    bottom: calc(100% - 8px);
    right: 25px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.noti-drop-active {
    position: relative;
}

.noti-drop-active::before {
    content: "";
    position: absolute;
    top: calc(100%);
    left: 0px;
    width: 90px;
    height: 10px;
}

.header_noti_active_drop_no_login_img {
    width: 100%;
    height: 88%;
    background-color: #F86B5B;
}

.header_noti_active_drop_no_login_img_item {
    width: 100%;
    height: 100%;
}

.header_noti_active_drop_no_login_btn {
    width: 100%;
    height: 12%;
    display: flex;
}

.header_noti_active_drop_no_login_btn_item {
    width: 50%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.911);
    font-size: 1.5rem;
    justify-content: center;
}

.header_noti_active_drop_no_login_btn_item:hover {
    background-color: #E8E8E8;
    color: #ED4D2D;
}

.noti-drop-active:hover .header_noti_active_drop_no_login {
    display: block;
}


/* header with search */
.header_with_search {
    width: 100%;
    height: 70%;
    display: flex;
}

.header_with_search_logo_container {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_with_search_logo_container_img {
    width: 100%;
    height: 100%;
}

.header_with_search_input_container {
    position: relative;
    width: 69%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_with_search_input_container_input {
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
}

.header_with_search_input_container_input_item {
    width: 90%;
    height: 100%;
    border-radius: 2px;
    border: none;
    outline: none;
    padding-left: 13px;
    font-size: 1.4rem;
}

.header_with_search_input_container_input_btn {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.header_with_search_input_container_input_btn_item {
    width: 75%;
    height: 85%;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 17px;
    background: rgb(251, 85, 51);
}

.header_with_search_input_container_input_btn_item_icon {
    color: #fff;
}

.header_with_search_input_container_product {
    width: 100%;
    height: 22px;
}

.header_with_search_input_container_product_list {
    display: flex;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    align-items: center;
    padding-top: 4px;
}

.header_with_search_input_container_product_list_item {
    padding-right: 12px;
}

.header_with_search_input_container_product_list_item_link {
    font-size: 1.2rem;
    color: #ffffffe6;
    text-decoration: none;
}

.header_with_search_input_container_input_drop {
    position: absolute;
    width: 90%;
    border-radius: 2px;
    top:calc(100% - 28px);
    left: 0px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    display: none;
}

.header_with_search_input_container_input_drop_list {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    height: 44px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_with_search_input_container_input_drop_list_title {
    color: #000000CC;
    font-size: 1.4rem;
    text-decoration: none;
    padding-left: 10px;
}

.header_with_search_input_container_input_drop_list_img {
    width: 120px;
    height: 24px;
    padding-right: 10px;
}

.header_with_search_input_container_input_drop_list:hover {
    background-color: #fafafa;
}

.header_with_search_input_container_input_item:focus ~ .header_with_search_input_container_input_drop {
    display: block;
}

.header_with_search_card_container {
    width: 14%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_with_search_card_container_item {
    padding: 10px;
    cursor: pointer;
    position: relative;
}    
.header_with_search_card_container_item_icon {
    font-size: 2.5rem;
    color: #fff;
}

.header_with_search_card_container_item_no_product_drop {
    position: absolute;
    width: 400px;
    height: 259px;
    border: 1px solid #CDCDCD;
    top: calc(100% + 2px);
    background-color: #fff;
    right: 0;
    animation: growUp linear 0.2s;
    transform-origin: 88% 0%;
    display: none;
}

.header_with_search_card_container_item_no_product_drop_img {
    width: 100%;
    height: 100%;
    cursor: default;
}

.header_with_search_card_container_item_no_product_drop::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 1px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.header_with_search_card_container_item:hover .header_with_search_card_container_item_no_product_drop {
    display: block;
}

.main {
    width: 100%;
    height: auto;
    margin-top: var(--header-height);
}

.main_img_sell_now {
    width: 100%;
    height: 1007px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img_talk_about {
    width: 100%;
    background-repeat: no-repeat;
    height: 215px;
    background-size: contain;
}

.main_video_talk_about iframe {
    width: 100%;
    height: 495px;
}

.main_img_way {
    width: 100%;
    height: 486px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img_go_sell_now {
    width: 100%;
    height: 177px;
}

.main_img_go_sell_now a {
    width: 100%;
    height: 100%;
    display: block;
}

.main_img_why_choice {
    width: 100%;
    height: 2361px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img_we_here {
    width: 100%;
    height: 1358px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img_cus_about_shopee {
    width: 100%;
    height: 229px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img_about_shopee {
    width: 100%;
    height: 1588px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img_event_1m {
    width: 100%;
    height: 438px;
}

.main_img_event_1m a {
    width: 100%;
    height: 100%;
    display: block;
}

.main_img_take_care_cus {
    width: 100%;
    height: 342px;
    margin-top: 50px;
}

.main_img_take_care_cus a {
    width: 100%;
    height: 100%;
    display: block;
}

.footer_2 {
    width: 100%;
    height: 522px;
    background-color: #FBFBFB;
    margin-top: 60px;
    border-top: 4px solid #EE4D2D;
}

.footer_2_synthetic {
    width: 100%;
    height: 421px;
    border-bottom: 1px solid#E2E2E2;
}

.footer_2_synthetic_container {
    width: 100%;
    height: auto;
    padding-left: 0;
    margin-top: 50px;
}

.footer_2_synthetic_container li {
    padding-bottom: 10px;
    list-style: none;
    width: 100%;
    height: 100%;
}

.footer_2_synthetic_container_heading,
.footer_2_synthetic_container_title {
    display: block;
}

.footer_2_synthetic_container_heading {
    color: #0000008A;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer_2_synthetic_container_title {
    color: #0000008A;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
}

.footer_2_synthetic_container_title:hover {
    color: #ee4d2d;
}

.footer_2_synthetic_container_list {
    width: 200px;
    height: auto;
}

.footer_2_synthetic_container_list_img {
    padding-right: 10px;
}

.footer_2_synthetic_container_list {
    margin-top: 14px;
}

.footer_2_synthetic_container_title_icon {
    font-size: 1.8rem;
    align-items: center;
    padding-right: 7px;
}

.footer_2_language {
    width: 100%;
    height: calc(522px - 421px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_2_language_list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: #0000008A;
    font-size: 1.4rem;
}

.footer_2_language_list_item {
    padding: 0 5px;
    border-right: 1px solid #C8C8C8;
}

.footer_2_language_list_item_link {
    color: #0000008A;
    text-decoration: none;
}

.footer_3 {
    width: 100%;
    height: 286px;
    background-color: #F5F5F5;
}

.footer_3_policy {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_3_policy_list {
    list-style: none;
    display: flex;
}

.footer_3_policy_list_item {
    padding: 0 20px;
    border-right: 1px solid #DEDEDE;
}

.footer_3_policy_list_item_link {
    text-decoration: none;
    color: #0000008A;
    font-size: 1.2rem;
}

.footer_3_sign_up {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_3_sign_up_img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_3_sign_up_img a {
    margin-right: 30px;
}

.footer_3_sign_up span {
    color: #000000A6;
    font-size: 1.2rem;
}

.footer_3_infor {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.footer_3_infor span {
    display: block;
    color: #000000A6;
    font-size: 1.2rem;
    line-height: 1.8;
}